.page-container{
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    padding: 50px;

    border-radius: 2.5%;

    background:#f1f1f1; 
    color:rgba(0, 0, 139, 0.7);
}

.main-info-list, 
.another-info-list {
    list-style-type: none;
}

.hobby-list {
    list-style-image: url('../img/list-img.png');
}

.main-info-item, 
.another-info-item, 
.favorite-image-title {
    font-size: 20px;
}

.hobby-item {
    font-size: 16px;
}

.favorite-image-item {
    width: 100%;
    height: auto;
}

.favorite-video {
    font-size: 22px;
    text-decoration: none;
}

.favorite-characters-table{
    width: 450px;
    border: 1px solid black;
    border-collapse: collapse;
}

.favorite-characters-table-title, 
.dead-character-name, 
.dead-character-world, 
.living-character-name, 
.living-character-world {
    border: 1px solid black;
 }

.living-character {
    color: rgb(25, 146, 25);
}

.dead-character {
    color: rgb(209, 0, 0);
}